flows.json
[{"id":"b0b43662.42bb28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e2977580.be33b","type":"mqtt-broker","name":"mosquitto","broker":"walatic.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87f92775.21a0d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#a121bf","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#a121bf","edited":true},"page-titlebar-backgroundColor":{"value":"#a121bf","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#c44ce0","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#a121bf","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Consola Walatic","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"348b59ec.e95bb6","type":"ui_group","name":"Estación Walatic - Mar del Plata","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a6ff7f54.a0c628","type":"ui_tab","name":"Estación Walatic     Mar del Plata","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1b619470.1c703c","type":"ui_group","name":"Tecnología Walatic - IOT","tab":"a6ff7f54.a0c628","order":2,"disp":true,"width":"6","collapse":false},{"id":"db332164.b807b","type":"postgresdb","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"369496d6.1f977a","type":"ui_group","name":"Bienvenida/o a:","tab":"a6ff7f54.a0c628","order":1,"disp":true,"width":"6","collapse":true},{"id":"a85c05df.1de478","type":"twilioConfig","name":"twilioConfig"},{"id":"f72fe083.423a3","type":"free-mobile-account","user":"Walatic","pass":"entrevista4242","api_url":"https://smsapi.free-mobile.fr/sendmsg","name":"My Free Mobile account"},{"id":"dcde6693.6ba238","type":"free-mobile-account","user":"Walatic","pass":"ordenarlibros","api_url":"https://smsapi.free-mobile.fr/sendmsg","name":"Walatic"},{"id":"de38aacf.4616a8","type":"twilioConfig","name":"Alarma"},{"id":"4c902ce4.9ac064","type":"twilio-api","name":"","sid":"AC41ad9116fdf89845f4fcce6639acc025","from":"+17024879128"},{"id":"2759e879.a7e388","type":"ui_group","name":"Group 3","tab":"a6ff7f54.a0c628","order":3,"disp":true,"width":6},{"id":"5ddbb40c.616f6c","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":1,"width":1,"height":1},{"id":"3bf4b9ff.9f6db6","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":3,"width":1,"height":1},{"id":"5916467f.19dad8","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":4,"width":1,"height":1},{"id":"52f17660.d47f88","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":5,"width":1,"height":1},{"id":"b5d4a57c.b14c58","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":6,"width":1,"height":1},{"id":"9ce874f7.fec028","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":7,"width":1,"height":1},{"id":"c32383d4.7b6a4","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":8,"width":1,"height":1},{"id":"908d079e.fd31c8","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":10,"width":1,"height":1},{"id":"93bbab6.20f2558","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":11,"width":1,"height":1},{"id":"abec3265.099af","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":12,"width":1,"height":1},{"id":"10b16f65.bcbc71","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":13,"width":1,"height":1},{"id":"f3d7b291.218cc","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":14,"width":1,"height":1},{"id":"dff34079.4be4c","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":15,"width":1,"height":1},{"id":"e727e196.1ee2d","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":17,"width":1,"height":1},{"id":"c4c407f8.5cb078","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":18,"width":1,"height":1},{"id":"d934e3f5.d4f3d","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":19,"width":1,"height":1},{"id":"3a7d284f.e107e8","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":20,"width":1,"height":1},{"id":"1ac98df3.e5a632","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":21,"width":1,"height":1},{"id":"a63f890d.703a48","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":22,"width":1,"height":1},{"id":"aaacc38d.765c5","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":24,"width":1,"height":1},{"id":"494ec17b.e151","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":25,"width":1,"height":1},{"id":"663ca50c.576f8c","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":26,"width":1,"height":1},{"id":"6d024a85.737054","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":27,"width":1,"height":1},{"id":"6ec30ecc.8d067","type":"ui_spacer","name":"spacer","group":"1b619470.1c703c","order":28,"width":1,"height":1},{"id":"edaf3f02.4558f8","type":"mqtt out","z":"b0b43662.42bb28","name":"","topic":"control","qos":"2","retain":"","broker":"e2977580.be33b","x":770,"y":400,"wires":[]},{"id":"a142e83d.cc3078","type":"debug","z":"b0b43662.42bb28","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":640,"wires":[]},{"id":"7f421b8f.f477dc","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"ch","qos":"2","datatype":"utf8","broker":"e2977580.be33b","x":290,"y":420,"wires":[["4ba37feb.da4ef"]]},{"id":"a676397f.3961b8","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"monitoralarma","qos":"0","datatype":"auto","broker":"e2977580.be33b","x":310,"y":580,"wires":[[]]},{"id":"c2663385.c667f","type":"debug","z":"b0b43662.42bb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":240,"wires":[]},{"id":"dc4cb637.d2b6a","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"casa/temp","qos":"2","datatype":"auto","broker":"e2977580.be33b","x":296,"y":180,"wires":[["c2663385.c667f","ee9dba30.2ac0e8","f3af9c69.f1d7d","b97bc1c0.cb899"]]},{"id":"ee42f6b5.7d3e1","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"casa/hum","qos":"2","datatype":"auto","broker":"e2977580.be33b","x":296,"y":236,"wires":[["c2663385.c667f","3f69999e.676866","f3af9c69.f1d7d"]]},{"id":"ec244bbf.a928","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"casa/pres","qos":"2","datatype":"auto","broker":"e2977580.be33b","x":296,"y":292,"wires":[["c2663385.c667f","6a75b91d.8e5ab8","f3af9c69.f1d7d"]]},{"id":"ee9dba30.2ac0e8","type":"ui_gauge","z":"b0b43662.42bb28","name":"","group":"1b619470.1c703c","order":16,"width":4,"height":3,"gtype":"gage","title":"Temperatura","label":"","format":"{{value}} °C","min":"-10","max":"50","colors":["#1c7bff","#fb6f04","#f1270a"],"seg1":"22","seg2":"28","x":610,"y":80,"wires":[]},{"id":"c88fd359.b5af68","type":"ui_chart","z":"b0b43662.42bb28","name":"Graph : Temperatura y Humedad","group":"","order":1,"width":6,"height":9,"label":"Temperatura y Humedad","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"Gráficos","dot":false,"ymin":"0","ymax":"80","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":700,"wires":[[]]},{"id":"3f69999e.676866","type":"ui_gauge","z":"b0b43662.42bb28","name":"","group":"1b619470.1c703c","order":9,"width":4,"height":3,"gtype":"gage","title":"Humedad","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#f8fd08","#ca3858"],"seg1":"40","seg2":"70","x":600,"y":120,"wires":[]},{"id":"6a75b91d.8e5ab8","type":"ui_gauge","z":"b0b43662.42bb28","name":"","group":"1b619470.1c703c","order":2,"width":4,"height":3,"gtype":"gage","title":"Presión","label":"","format":"{{value}} hPa","min":"800","max":"1500","colors":["#f00a19","#fdc000","#0ecd25"],"seg1":"1100","seg2":"1000","x":600,"y":160,"wires":[]},{"id":"36619eb6.7bedb2","type":"postgres","z":"b0b43662.42bb28","postgresdb":"db332164.b807b","name":"Datos del Clima ","output":true,"perrow":true,"rowspermsg":"1","outputs":1,"x":800,"y":320,"wires":[[]]},{"id":"3c3964e7.41d0a4","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"enter","qos":"2","datatype":"auto","broker":"e2977580.be33b","x":290,"y":360,"wires":[["c6d42c88.60748","4ba37feb.da4ef"]]},{"id":"cffa7cb4.107f6","type":"debug","z":"b0b43662.42bb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"40e518f6.0e62e8","type":"e-mail","z":"b0b43662.42bb28","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":770,"y":360,"wires":[]},{"id":"f3af9c69.f1d7d","type":"join","z":"b0b43662.42bb28","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":280,"wires":[["cffa7cb4.107f6"]]},{"id":"b97bc1c0.cb899","type":"ui_template","z":"b0b43662.42bb28","group":"","name":"Día - Hora","order":1,"width":12,"height":11,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":610,"y":200,"wires":[[]]},{"id":"72580d0a.225714","type":"function","z":"b0b43662.42bb28","name":"","func":"c=\"Walatic activa!\";\nmsg.payload=c;\nnode.send(msg)\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[["edaf3f02.4558f8","ecf229bf.b9b178"]]},{"id":"a3ae21f3.5150a","type":"inject","z":"b0b43662.42bb28","name":"Walatic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"¡Hola Wala!!","payloadType":"str","x":320,"y":640,"wires":[[]]},{"id":"d0a8f37.493711","type":"twilio out","z":"b0b43662.42bb28","twilio":"4c902ce4.9ac064","twilioType":"sms","url":"","number":"+542236069226","name":"Walatic","x":640,"y":580,"wires":[]},{"id":"ecf229bf.b9b178","type":"debug","z":"b0b43662.42bb28","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":460,"wires":[]},{"id":"c6d42c88.60748","type":"mqtt out","z":"b0b43662.42bb28","name":"","topic":"entrada","qos":"","retain":"","broker":"e2977580.be33b","x":440,"y":360,"wires":[]},{"id":"4ba37feb.da4ef","type":"debug","z":"b0b43662.42bb28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"ad63f990.aa91c8","type":"ui_gauge","z":"b0b43662.42bb28","name":"","group":"1b619470.1c703c","order":23,"width":4,"height":3,"gtype":"gage","title":"Freezer IOMA - MDQ","label":"","format":"{{value}} °C","min":"-50","max":"0","colors":["#1aff29","#fb6f04","#f1270a"],"seg1":"-20","seg2":"-18","x":340,"y":20,"wires":[]},{"id":"ea4a0884.6a2dc8","type":"mqtt in","z":"b0b43662.42bb28","name":"","topic":"freezer","qos":"2","datatype":"auto","broker":"e2977580.be33b","x":290,"y":120,"wires":[["ad63f990.aa91c8","c2663385.c667f"]]},{"id":"20a0aeb2.47daf2","type":"sms-out","z":"b0b43662.42bb28","name":"Walatic","topic":"+5492236069226","x":700,"y":20,"wires":[]},{"id":"db8f70e2.41f51","type":"function","z":"b0b43662.42bb28","name":"node.done()","func":"if (payload===-20) then (msg, function(result) {\n    msg.payload = {\n    \"sent\": 1457110722000, // Time message was sent (unix timestamp)\n    \"received\": 1457110722000,  // Time received was sent (unix timestamp)\n    \"topic\": 5492236069226, // Phone number of a sender\n    \"payload\": \"Hello, world!\" // Message contents\n};\nnode.send(msg);\nreturn msg;","outputs":1,"noerr":2,"initialize":"","finalize":"","x":410,"y":60,"wires":[[]]},{"id":"7265b6fc.085fe8","type":"inject","z":"b0b43662.42bb28","name":"Walatic","props":[{"p":"payload"},{"p":"topic","v":"+5492236069226","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Hola Mundo!!","payloadType":"str","x":540,"y":20,"wires":[["20a0aeb2.47daf2"]]}]